<%- include('partials/header.ejs') -%>
    <div>
        <h1> COMPOSE </h1>
        <div>
            <p>
            <form class="item" method="post" action="/compose">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="artikel" rows="3"></textarea>
                </p>
                <button type="submit" name="list" class="btn">Publish</button>
                </form>
        </div>


    </div>
    </div>

    <%- include('partials/footer.ejs') -%>